body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.container {
    max-width: 1225px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    min-width: 120px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 100px;
}

.btn__red {
    background-color: #FE5F1E;
    color: #FFFFFF;
}

.btn__gray {
    background-color: #F9F9F9;
    color: #2C2C2C;
}


/* --------------HEADER---------------- */

.header__inner {
    display: flex;
    align-items: center;
    height: 140px;
    border-bottom: 1px solid #F6F6F6;
}

.header__logo {
    display: grid;
    grid-template-areas: "logo title"
                         "logo description";
    margin-right: auto;
}

.header__logo > img {
    grid-area: logo;
    margin-right: 15px;
    height: 100%;
    width: auto;

}

.header__logo > h2 {
    grid-area: title;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.20em;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.header__logo > p {
    grid-area: description;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.21em;
    color: #7B7B7B;
}

.header__basket {
    margin-left: auto;
}

/* --------------CONTENT-SELECTOR---------------- */

.content-selector {
    padding: 40px 0;
}

.content-selector__inner {
    display: flex;
}

.filter-buttons {
    display: flex;
    margin-right: auto;
}

.filter-button {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.21em;
    letter-spacing: 0.015em;
    text-transform: capitalize;
}

.filter-button.active {
    background-color: #282828;
    color: #FFFFFF;
}

.sorting {
    display: flex;
    align-items: center;
}

.sorting > h2 {
    margin-right: 5px;
    font-size: 14px;
    font-weight: 700;
}

.sorting > a {
    color: #FE5F1E;
    text-decoration-style: dashed;
}