<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza maker</title>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <img src="assets/img/header/logo.png" alt="logo">
                <h2>react pizza</h2>
                <p>самая вкусная пицца во вселенной</p>
            </div>
            <div class="header__basket">
                <a href="#" class="btn btn__red">520 ₽</a>
            </div>
        </div>
    </div>
</div>

<div class="content-selector">
    <div class="container">
        <div class="content-selector__inner">
            <div class="filter-buttons">
                <a href="#" class="filter-button active btn btn__gray">все</a>
                <a href="#" class="filter-button btn btn__gray">мясные</a>
                <a href="#" class="filter-button btn btn__gray">вегетерианская</a>
                <a href="#" class="filter-button btn btn__gray">гриль</a>
                <a href="#" class="filter-button btn btn__gray">острые</a>
                <a href="#" class="filter-button btn btn__gray">закрытые</a>
            </div>
            <div class="sorting">
                <h2>Сортировка по:</h2>
                <a href="#">популярности</a>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="content__inner">
            <h1 class="content__title">Все пиццы</h1>

            <div class="pizza-cards">
                <div class="pizza-card">
                    <img class="pizza-card__logo" src="assets/img/content/pizza.png" alt="pizza">
                    <h2 class="pizza-card__title">Сырный цыпленок</h2>
                    <div class="pizza-card__selector">
                        <div class="selector__dough">
                            <a href="#" class="selector__button selector_button_half_part ">тонкое</a>
                            <a href="#" class="selector__button active selector_button_half_part">традиционное</a>
                        </div>
                        <div class="selector__size">
                            <a href="#" class="selector__button active selector_button_third_part">26 cm</a>
                            <a href="#" class="selector__button selector_button_third_part">30 cm</a>
                            <a href="#" class="selector__button selector_button_third_part">40 cm</a>
                        </div>
                    </div>
                    <div class="pizza-card__footer">
                        <h2>385 ₽</h2>
                        <a href="#" class="btn btn__white">+ Добавить</a>
                    </div>
                </div>
                <div class="pizza-card">
                    <img class="pizza-card__logo" src="assets/img/content/pizza.png" alt="pizza">
                    <h2 class="pizza-card__title">Сырный цыпленок</h2>
                    <div class="pizza-card__selector">
                        <div class="selector__dough">
                            <a href="#" class="selector__button selector_button_half_part ">тонкое</a>
                            <a href="#" class="selector__button active selector_button_half_part">традиционное</a>
                        </div>
                        <div class="selector__size">
                            <a href="#" class="selector__button selector_button_third_part">26 cm</a>
                            <a href="#" class="selector__button active selector_button_third_part">30 cm</a>
                            <a href="#" class="selector__button selector_button_third_part">40 cm</a>
                        </div>
                    </div>
                    <div class="pizza-card__footer">
                        <h2>385 ₽</h2>
                        <a href="#" class="btn btn__white">+ Добавить</a>
                    </div>
                </div>
                <div class="pizza-card">
                    <img class="pizza-card__logo" src="assets/img/content/pizza.png" alt="pizza">
                    <h2 class="pizza-card__title">Сырный цыпленок</h2>
                    <div class="pizza-card__selector">
                        <div class="selector__dough">
                            <a href="#" class="selector__button selector_button_half_part ">тонкое</a>
                            <a href="#" class="selector__button active selector_button_half_part">традиционное</a>
                        </div>
                        <div class="selector__size">
                            <a href="#" class="selector__button active selector_button_third_part">26 cm</a>
                            <a href="#" class="selector__button selector_button_third_part">30 cm</a>
                            <a href="#" class="selector__button selector_button_third_part">40 cm</a>
                        </div>
                    </div>
                    <div class="pizza-card__footer">
                        <h2>385 ₽</h2>
                        <a href="#" class="btn btn__white">+ Добавить</a>
                    </div>
                </div>
                <div class="pizza-card">
                    <img class="pizza-card__logo" src="assets/img/content/pizza.png" alt="pizza">
                    <h2 class="pizza-card__title">Сырный цыпленок</h2>
                    <div class="pizza-card__selector">
                        <div class="selector__dough">
                            <a href="#" class="selector__button selector_button_half_part ">тонкое</a>
                            <a href="#" class="selector__button active selector_button_half_part">традиционное</a>
                        </div>
                        <div class="selector__size">
                            <a href="#" class="selector__button selector_button_third_part">26 cm</a>
                            <a href="#" class="selector__button selector_button_third_part">30 cm</a>
                            <a href="#" class="selector__button active selector_button_third_part">40 cm</a>
                        </div>
                    </div>
                    <div class="pizza-card__footer">
                        <h2>385 ₽</h2>
                        <a href="#" class="btn btn__white">+ Добавить</a>
                    </div>
                </div>
                <div class="pizza-card">
                    <img class="pizza-card__logo" src="assets/img/content/pizza.png" alt="pizza">
                    <h2 class="pizza-card__title">Сырный цыпленок</h2>
                    <div class="pizza-card__selector">
                        <div class="selector__dough">
                            <a href="#" class="selector__button selector_button_half_part ">тонкое</a>
                            <a href="#" class="selector__button active selector_button_half_part">традиционное</a>
                        </div>
                        <div class="selector__size">
                            <a href="#" class="selector__button selector_button_third_part">26 cm</a>
                            <a href="#" class="selector__button selector_button_third_part">30 cm</a>
                            <a href="#" class="selector__button active selector_button_third_part">40 cm</a>
                        </div>
                    </div>
                    <div class="pizza-card__footer">
                        <h2>385 ₽</h2>
                        <a href="#" class="btn btn__white">+ Добавить</a>
                    </div>
                </div>
                <div class="pizza-card">
                    <img class="pizza-card__logo" src="assets/img/content/pizza.png" alt="pizza">
                    <h2 class="pizza-card__title">Сырный цыпленок</h2>
                    <div class="pizza-card__selector">
                        <div class="selector__dough">
                            <a href="#" class="selector__button selector_button_half_part ">тонкое</a>
                            <a href="#" class="selector__button active selector_button_half_part">традиционное</a>
                        </div>
                        <div class="selector__size">
                            <a href="#" class="selector__button selector_button_third_part">26 cm</a>
                            <a href="#" class="selector__button selector_button_third_part">30 cm</a>
                            <a href="#" class="selector__button active selector_button_third_part">40 cm</a>
                        </div>
                    </div>
                    <div class="pizza-card__footer">
                        <h2>385 ₽</h2>
                        <a href="#" class="btn btn__white">+ Добавить</a>
                    </div>
                </div>
                <div class="pizza-card">
                    <img class="pizza-card__logo" src="assets/img/content/pizza.png" alt="pizza">
                    <h2 class="pizza-card__title">Сырный цыпленок</h2>
                    <div class="pizza-card__selector">
                        <div class="selector__dough">
                            <a href="#" class="selector__button selector_button_half_part ">тонкое</a>
                            <a href="#" class="selector__button active selector_button_half_part">традиционное</a>
                        </div>
                        <div class="selector__size">
                            <a href="#" class="selector__button selector_button_third_part">26 cm</a>
                            <a href="#" class="selector__button selector_button_third_part">30 cm</a>
                            <a href="#" class="selector__button active selector_button_third_part">40 cm</a>
                        </div>
                    </div>
                    <div class="pizza-card__footer">
                        <h2>385 ₽</h2>
                        <a href="#" class="btn btn__white">+ Добавить</a>
                    </div>
                </div>
                <div class="pizza-card">
                    <img class="pizza-card__logo" src="assets/img/content/pizza.png" alt="pizza">
                    <h2 class="pizza-card__title">Сырный цыпленок</h2>
                    <div class="pizza-card__selector">
                        <div class="selector__dough">
                            <a href="#" class="selector__button selector_button_half_part ">тонкое</a>
                            <a href="#" class="selector__button active selector_button_half_part">традиционное</a>
                        </div>
                        <div class="selector__size">
                            <a href="#" class="selector__button selector_button_third_part">26 cm</a>
                            <a href="#" class="selector__button selector_button_third_part">30 cm</a>
                            <a href="#" class="selector__button active selector_button_third_part">40 cm</a>
                        </div>
                    </div>
                    <div class="pizza-card__footer">
                        <h2>385 ₽</h2>
                        <a href="#" class="btn btn__white">+ Добавить</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>